<h1><%= @patient.name %>'s Upcoming Appointments</h1>

<table class='table'>
  <thead>
    <tr>
      <td>Date</td>
      <td>Time</td>
      <td>Physician</td>
    </tr>
  </thead>
  <tbody>
    <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.time %></td>
        <td><%= link_to Physician.find(appointment.physician_id).name, physician_path(Physician.find(appointment.physician_id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', patients_path %>
